In [10]:
from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi
from pymongo import MongoClient
from datetime import datetime
from dotenv import load_dotenv
import os

### Test para probar la conección a la base de datos

In [ ]:
# Cargar las variables del archivo .env
load_dotenv()

# Obtener las credenciales y el cluster de MongoDB
username = os.getenv("DB_USER")
password = os.getenv("DB_PASS")
cluster = os.getenv("DB_CLUSTER")
print(username, password, cluster)

#uri = rf"mongodb+srv://{username}:{password}@{cluster.lower()}.lmvum.mongodb.net/?retryWrites=true&w=majority&appName={cluster}"
uri = rf"mongodb+srv://cvasquez2:cvasquez2@datatfmcv.lmvum.mongodb.net/?retryWrites=true&w=majority&appName=DataTFMCV"
# Crear un cliente y conectarlo al servidor
client = MongoClient(uri, server_api=ServerApi('1'))

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

cavasquezb cavasquezb DataTFMCV
bad auth : authentication failed, full error: {'ok': 0, 'errmsg': 'bad auth : authentication failed', 'code': 8000, 'codeName': 'AtlasError'}

### Ejemplos de interacción con la base de datos

In [5]:
# Datos a insertar
documento = {
    "fecha": datetime(2024, 5, 1),  # Fecha de la medición (inicio de mes)
    "valor": 9999,  # Valor de potencia medida en el mes (en kW)
    "anio": 2024,  # Año
    "mes": 1,  # Mes (1 = enero, 2 = febrero, etc.)
    "tipo": "mensual",  # Indicador de tipo de dato
    "unidad": "KWh"  # Unidad de medida
}

# Insertar documento en la colección 'mediciones_mensuales'
resultado = client.potencia.mediciones_mensuales.insert_one(documento)

# Confirmación
print(f"Documento insertado con ID: {resultado.inserted_id}")

Documento insertado con ID: 67bcf0b39a37bed6d5e0636d

In [7]:
filtro = {"fecha": datetime(2024, 5, 1)}
documentos = client.potencia.mediciones_mensuales.find(filtro)

for doc in documentos:
    print(doc)
    print(doc['valor'])
    print(doc['fecha'])

{'_id': ObjectId('67bcf0b39a37bed6d5e0636d'), 'fecha': datetime.datetime(2024, 5, 1, 0, 0), 'valor': 9999, 'anio': 2024, 'mes': 1, 'tipo': 'mensual', 'unidad': 'KWh'}
9999
2024-05-01 00:00:00

In [ ]:
filtro = {"fecha": datetime(2024, 1, 1)}
nuevos_datos = {"$set": {"fecha": datetime(2022, 12, 1)}}

resultados = client.potencia.mediciones_mensuales.update_one(filtro, nuevos_datos)
print(resultados)

UpdateResult({'n': 1, 'electionId': ObjectId('7fffffff000000000000001d'), 'opTime': {'ts': Timestamp(1740429901, 4), 't': 29}, 'nModified': 1, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1740429901, 4), 'signature': {'hash': b'x\xe5\xdf\x81\x05\x05]\xb7+<\xfe\x0fZ\x19C\xbd$zLV', 'keyId': 7431213240866045957}}, 'operationTime': Timestamp(1740429901, 4), 'updatedExisting': True}, acknowledged=True)

In [ ]:
filtro = {"fecha": datetime(2022, 12, 1)}

resultados = client.potencia.mediciones_mensuales.delete_one(filtro)
print(resultados)

DeleteResult({'n': 1, 'electionId': ObjectId('7fffffff000000000000001d'), 'opTime': {'ts': Timestamp(1740429919, 2), 't': 29}, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1740429919, 2), 'signature': {'hash': b'1\x99\x7fp\xb97s\xd5\x14\x90|\xa1\xc94\x8a\xf5w\\\xc2H', 'keyId': 7431213240866045957}}, 'operationTime': Timestamp(1740429919, 2)}, acknowledged=True)

### Obtener datos de una colección y hacerlos DataFrame

In [6]:
import pandas as pd

cursor = client.energia_facturada_sisdat.mediciones_mensuales.find({}, {"_id": 0})
df = pd.DataFrame(list(cursor))
df

         Fecha  Energía Facturada (MWh)
0   1999-02-01            148753.669450
1   2000-12-01            172672.768893
2   2001-02-01            156916.476597
3   2001-10-01            176780.207924
4   2001-11-01            169022.257414
..         ...                      ...
307 2023-10-01            323651.874140
308 2023-11-01            324651.699120
309 2024-02-01            321946.630860
310 2024-05-01            319635.045050
311 2024-07-01            323420.953980

[312 rows x 2 columns]